/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

/* ----- Colors ----- */

$header: #0b0c10;
$footer: #0b0c10;
$containerMain: rgba(0,0,0,0.8);
$containerAlt: rgba(0,0,0,0.85);
$gradientMain: #509058;
$gradientAlt: #041729;
$info: #071344;
$success: #3a7541;
$containerTeam: #efefef;
$mainText: #feffff;
$altText: #000;
$otherText: #333;

/* ----- Responsive ----- */

$mobile-400: 25em;  
$tablet  : 48em;
$desktop : 64em;
